doctype HTML
html(lang='en')
    head
        meta(charset='utf=8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')

        title Auth App
        meta(name='description' content='')
        meta(name='robots' content='')
        meta(name='theme-color', content='#ffffff')

        link(rel='stylesheet', type='text/css', href='/dist/style.css')
        link(rel='stylesheet', type='text/css', href='/public/fonts/style.css')

    body.app

    script(src='/dist/bundle.js')